body, html{
    overflow-x: hidden;
    font-family: "segoe ui";
    background: linear-gradient(#f1f1f1, #ffffff);
    background-repeat: no-repeat;
    height: 100%;
}
.header{
    position: sticky;
    box-shadow: grey 0 0 20px;
}
.brandImage{
    margin: 0px;
    color: white;
    font-size: 2em;
    margin-top: 10px;
}
.searchBox{
    margin-top: 10px;
}
.bg-me{
    color: white;
    background: #d35400;
}
.branding i{
    margin-top: 10px;
    font-size: 30px;
}
.branding .logoText{
    margin-top: 12px;
    font-size: 25px;
    font-weight: lighter;
    margin-left: 10px;
    font-family: 'Cookie';
    letter-spacing: 0px;
}
.searchBox .form-control{
    background: none;
    box-shadow: none;
    border: none;
    color: white;
    border-radius: 0px;
    transition: border-bottom .25s;
}
.searchBox .form-control::-webkit-input-placeholder{
    color: white;
}
.searchBox .form-control::-moz-placeholder{
    color: white;
}
.searchBox .form-control:focus{
    border-bottom: 1px dashed white;
    box-shadow: none;
}
.menu{
    list-style: none;
    text-align: center;
}
.menu p{
    margin-top: 5px;
}
.menu li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    margin-top: 0px;
    transition: background .25s;
}
.menu li:hover{
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
}
.menu li i{
    font-size: 20px;
    margin-top: 10px;
}
.blackText{
    margin-top: 10px;
}
.shopInfo .container{
    border-radius: 3px;
    padding: 20px;
    background: white;
    margin-top: 20px;
    box-shadow: silver 0 1px 3px;
}
.shopInfo .row{
    width: 84%;
    margin-left: 8%;
}
.shopDetails div:not(:first-child){
    margin-top: 15px;
}
.shopDetails a{
    text-decoration: none;
    color: #00a1ff;
}
.social .text-muted:not(:first-child){
    margin-left: 20px;
}
.item .card:hover{
    transform: scale(1.02);
    box-shadow: grey 0 4px 8px;
    cursor: pointer;
}
.item{
    padding-left: 0px;
    margin-top: 20px;
}
.item .card{
    border-radius: 3px;
    background: white;
    box-shadow: silver 0 1px 2px;
    height: 250px;
    overflow: hidden;
    transition: box-shadow .25s, transform .25s;
}
.item .card .card-header{
    border-bottom: 1px solid #f1f1f1;
    padding: 10px;
    text-align: center;
    color: grey;
    height: 40px;
}
.item .card .card-content{
    height: 170px;
}
.card-content .image{
    height: 10px;
}
.itemsHolder .card{
    margin-left: 20px;
    background: white;
}
.itemsHolder .card .card-header{
    z-index: 10;
}
.itemHolder .card .card-footer{
    background: white;
    color: wheat;
}
.noRound{
    text-align: center;
    outline: none;
    border-radius: 0px;
    height: 40px;
    border: 0px;
    color: grey;
    background: white;
    padding-top: 10px;
    transition: color .25s, background .25s;
}
.noRound:hover{
    color: coral;
}
.card .card-footer .btn:nth-child(2){
    border-left: 1px solid #d0d0d0;
}
.card-content{
    text-align: center;
}
.card-content img{
    margin: 0px auto;
    height: 170px;
}